:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vh;
  min-height: 100vh;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn:hover {
  border-color: #646cff;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  .btn {
    background-color: #f9f9f9;
  }

}

.page {

  background-image: var(--bg-image);
  background-size: cover;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop .modal {
  background-color: #e1e1e1;
  color: #1e1e1e;
  padding: 2rem;
  border-radius: 75vw;
  max-height: 90vh;
  position: relative;

}

.backdrop,
.modal,
.modal-close {
  --size: 1.25rem;
  width: var(--size);
  height: calc(var(--size) * 0.1);
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: black;
  position: absolute;
  top: 0.75rem;
  height: 0.75rem;
  display: flex;
}

.backdrop,
.modal,
.modal-close::before .backdrop,
.modal,
.modal-close::after {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: 0.125rem;
  background-color: currentColor;
  border-radius: 0.125rem;
}